* {margin:0;padding:0;box-sizing:border-box;}
body {font-family: Arial, sans-serif; color:#333; line-height:1.6;}
.container {
    width:90%; 
    max-width:1000px; 
    margin:0 auto;  
    z-index: 1;}

.top-banner {
    height: 800px;
    display:flex; 
    align-items:center; 
    justify-content:center; 
    padding:50px 0; 
    background:#222; 
    color:#fff;
    position: relative;
    
    background-image: url("../images/top-banner-bckg.jpg");
    background-position: center;
    background-size: cover;}

.top-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.9; }

.top-banner img {max-width:200px;}
.banner-text {margin-left:20px;}
.banner-text h2 {font-size:2em; margin:5px 0;}
.banner-text span {color:#c18f59;}

.about-me {display:flex; justify-content:space-between; align-items:center; padding:50px 0;}
.about-me img {max-width:200px; border-radius:5px;}
.about-me h2 {margin:10px 0; color:#c18f59;}
.about-text {max-width:500px; margin-left:20px;}

.projects {padding:50px 0; text-align:center;}
.project-list {display:flex; flex-wrap:wrap; justify-content:space-around;}
.project {margin:10px; max-width:200px;}
.project img {width:100%; border:1px solid #ddd;}
.project h4 {margin:10px 0 5px;}
.project span {color:#c18f59; font-weight:bold;}

